@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

html, body {
  background-color: #f2fbfa;
  color: #fff;
}
body {
  height: auto;
}

h2 {
	color: #000;
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-style: normal;
}
h3 {
	color: #555;
	font-family: "PT Sans Caption", sans-serif;
	font-weight: 400;
	font-style: normal;
}
p {
	font-size: 14px;
	color: #555;
}



.well {
	padding: 0px;
	background-color: #f2fbfa;
	border: none;
	box-shadow: none;
}
.well .nav-tabs .active a, .well .nav-tabs .active a:hover, .well .nav-tabs .active a:focus {
  background-color: #267270 !important;
  color: #fff;
}
.nav-tabs a:hover {
	color: #3a9631;
	background-color: #f2fbfa !important;
}

.nav {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-style: normal;
 }

.well .tab-content {
  background-color: #267270 !important;
  color: #fff;
  font-weight: 400;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
  height: auto;
}


.col-sm-8 .tab-content {
  background-color: #fff;
  color: #000;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
  height: auto;
}


.btn {
  background-color: #6cddb4;
}

.scrollable-tab {
  overflow-y: auto;
  overflow-x: hidden;
  height: 60vh;
}
